:root {
  --clr-primary-1: #edf2ff;
  --clr-primary-2: #dbe4ff;
  --clr-primary-3: #bac8ff;
  --clr-primary-4: #91a7ff;
  --clr-primary-5: #748ffc;
  --clr-primary-6: #5c7cfa;
  --clr-primary-7: #4c6ef5;
  --clr-primary-8: #3b5bdb;
  --clr-primary-9: #364fc7;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 2.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.055);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
/* Global styles */
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-primary-1);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-style: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-2);
}

/* Global classes */

hr {
  border: none;
  width: 100%;
  border-top: 0.1px solid var(--clr-grey-9);
}

.btn {
  background: var(--clr-primary-2);
  color: var(--clr-grey-4);
  padding: 0.5rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: var(--clr-primary-3);
}

/* Section */

.section--footer {
  padding: 5rem 0;
}

section:not(.modal, .wishlist) {
  padding: 3rem 0;
  margin-bottom: 1rem;
  min-height: 100vh;
}

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-3);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-5);
}

/*
-------------
Navbar
-------------
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.nav-toggle {
  font-size: 1rem;
  color: var(--clr-primary-7);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-5);
}

.logo {
  height: 60px;
}

.nav-search--input {
  font-size: 1rem;
  background-color: var(--clr-primary-1);
  border: none;
  border-radius: 8rem;
  padding: 0.85rem;
  text-align: center;
  width: 6rem;
}

.nav-search--btn {
  padding: 0.85rem;
  background-color: var(--clr-primary-1);
  border: none;
  border-radius: 50%;
  color: var(--clr-grey-3);
}

.nav-links {
  text-align: center;
}

nav .links a {
  color: var(--clr-grey-2);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
nav .links a:hover {
  background: var(--clr-primary-1);
  /* border-radius: var(--radius); */
  color: var(--clr-grey-3);
  /* padding-left: 1.5rem; */
}
nav .social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

/* fixed nav */
.fixed-nav {
  transition: var(--transition);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 10;
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}

/*
-------------
Toplink
-------------
*/
.top-link {
  font-size: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-primary-2);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  visibility: hidden;
  z-index: -100;
}
.show--top-link {
  visibility: visible;
  z-index: 100;
}

/*
-------------
Sidebar
-------------
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transition: var(--transition);
  transform: translateX(-100%);
  overflow-y: auto;
  z-index: 25;
}
.show-sidebar {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.sidebar-header h2 {
  margin-bottom: 0;
  font-weight: 400;
}

.sidebar .logo {
  justify-self: center;
  height: 60px;
}

.sidebar-toggle {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-2);
  transition: var(--transition);
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.85rem;
  background-color: var(--clr-primary-1);
  border-radius: 50rem;
  border: none;
  color: var(--clr-grey-2);
}
.sidebar-toggle:hover {
  color: var(--clr-grey-1);
  background-color: var(--clr-primary-2);
}

.close-btn {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-3);
  transition: var(--transition);
  cursor: pointer;
}
.close-btn:hover {
  color: var(--clr-grey-1);
}

.sidebar .links a {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-2);
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar .links a:hover {
  /* background: var(--clr-primary-2); */
  color: var(--clr-grey-1);
  padding-left: 1.75rem;
}
.sidebar .social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-7);
}

/*
----------------- 
Assortment
-----------------
*/

.assortment .title {
  text-align: center;
  margin-top: 3rem;
}

.btn-container--assortment {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.prevBtn,
.nextBtn {
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: var(--light-shadow);
  background-color: var(--clr-white);
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary-9);
  box-shadow: var(--dark-shadow);
}

.prevBtn {
  display: none;
  margin-right: 0.25rem;
}

.show-prevBtn {
  display: inline-block;
}

.filter-btn {
  background: var(--clr-primary-2);
  /* border-color: var(--clr-white); */
  border: none;
  /* font-size: 1rem; */
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  /* color: var(--clr-); */
  cursor: pointer;
  transition: var(--transition);
}
.filter-btn:hover {
  background: var(--clr-primary-3);
  color: var(--clr-grey-3);
}

.assortment .section-center {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  justify-items: center;
  padding: 3rem;
  background-color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.assortment-item {
  display: grid;
  gap: 1rem;
  max-width: 25rem;
  justify-items: center;
  border-radius: var(--radius);
}

.photo {
  object-fit: cover;
  height: 200px;
  border: 0.45rem solid var(--clr-primary-1);
  border-radius: 2rem;
  box-shadow: var(--light-shadow);
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border: none;
}
.item-info h4 {
  text-align: center;
  line-height: 1.3rem;
}
.item-info a {
  color: var(--clr-grey-2);
  cursor: pointer;
}
.item-info a:hover {
  color: var(--clr-primary-9);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-gold);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

/*
----------------- 
Questions
-----------------
*/
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
  text-align: center;
}
.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1rem 2rem 0 2rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  color: var(--clr-grey-1);
}
.question-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
}
.question-btn span {
  font-size: 1rem;
  color: var(--clr-primary-3);
}

.question-btn:hover {
  color: var(--clr-primary-4);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 0.1px solid var(--clr-grey-9);
}
.question-text p {
  margin-bottom: 0.75rem;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

/*
-------------
Modal
-------------
*/
.modal,
.wishlist {
  background-color: var(--clr-white);
  border-radius: var(--radius);
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  min-width: 45%;
}

.close-modal,
.close-wishlist-modal {
  position: absolute;
  top: 1rem;
  right: 1.6rem;
  color: var(--clr-grey-8);
}
.close-modal:hover {
  color: var(--clr-grey-7);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 15;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal input:not([type="checkbox"]) {
  background-color: var(--clr-primary-1);
  border-radius: 10rem;
  border: none;
  padding: 0.85rem;
  text-align: center;
  width: 17rem;
  display: block;
  margin: 0.5rem auto;
}

.forgot-password {
  display: block;
  margin-bottom: 0.25rem;
}

.signed-in {
  margin: 0 auto;
  text-align: center;
}

.heading--log-in {
  margin-bottom: 1rem;
  text-align: center;
}

.btn--create-acc {
  background-color: var(--clr-primary-1);
}

.btn--log-in,
.btn--create-acc {
  display: block;
  margin: 0.65rem auto;
}

.modal p {
  margin-top: 1.8rem;
  margin-bottom: 0;
  text-align: center;
}

/*
-------------
Reviews
-------------
*/
.title {
  text-align: center;
  margin-bottom: 3rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  /* border-radius: var(--radius); */
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-4);
  color: var(--clr-white);
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-4);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  margin-top: 0.65rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
#info {
  margin-bottom: 0.75rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-3);
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: transparent;
  color: var(--clr-primary-4);
}

/* Spinner */
.spinner {
  width: 5rem;
  height: 5rem;
  background-color: var(--clr-primary-3);

  position: fixed;
  top: 43%;
  left: 45.5%;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/*
-------------
Gift Certificates
-------------
*/
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
}
.btn-container--gift {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  color: var(--clr-grey-4);
  background: var(--clr-primary-1);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: inset 0 0 0 1px #fff;
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-2);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
  margin: 0 0;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}

#bookId {
  background-color: var(--clr-primary-1);
  border-radius: 10rem;
  border: none;
  padding: 0.55rem;
  text-align: center;
  margin: 0 0.2rem 0 0.5rem;

  text-align: center;
  width: 10rem;
}

.buy-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
-----------
COUNTDOWN
-----------
*/
.image--gift {
  width: 100%;
  margin: 0 auto;
  border-radius: var(--radius);
}
.giweaway-img {
  margin-bottom: 2rem;
}
.giweaway-info h3 {
  color: var(--clr-primary-6);
}
.giweaway-info p {
  color: var(--clr-grey-6);
}
.date {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
}
.giweaway-info p {
  margin: 2rem 0;
}
.deadline {
  display: flex;
  justify-content: center;
}
.deadline-format {
  background: var(--clr-primary-8);
  border-radius: var(--radius);
  color: var(--clr-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}

/*
-------------
Wishlist
-------------
*/
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.wishlist-form h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
}
#input--wishlist {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
}
#input--wishlist::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}
.submit-btn {
  background: var(--clr-primary-4);
  color: var(--clr-white);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.submit-btn:hover {
  background: var(--clr-primary-5);
}

.wishlist-container {
  margin-top: 2rem;
  transition: var(--transition);
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.wishlist-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.wishlist-item:hover .title {
  color: var(--clr-grey-5);
}
.wishlist .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 2px;
  transition: var(--transition);
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: var(--clr-green-light);
}
.edit-btn:hover {
  color: var(--clr-green-dark);
}
.delete-btn {
  color: var(--clr-red-light);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--clr-red-dark);
}

/*
-------------
Footer
-------------
*/
.section--footer {
  background-color: var(--clr-primary-2);
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .section-center {
    width: 75vw;
    grid-template-columns: repeat(2, 1fr);
  }

  .sidebar {
    min-width: 400px;
  }
  .nav-search--input {
    width: 15rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sidebar {
    max-width: 400px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .section-center {
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .photo {
    height: 175px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .section-center {
    width: 85vw;
    grid-template-columns: repeat(4, 1fr);
  }

  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem;
  }
  .nav-header {
    padding: 0;
  }

  .nav-search--input {
    width: 10rem;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  nav .links {
    height: auto;
    display: flex;
  }
  nav .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  nav .links a:hover {
    padding: 0;
    background: transparent;
  }
  nav .social-icons {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1220px) {
  .section-center {
    width: 75vw;
    grid-template-columns: repeat(5, 1fr);
  }
  .photo {
    height: 175px;
  }
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem;
  }
  .nav-header {
    padding: 0;
  }

  .nav-search--input {
    width: 13rem;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  nav .links {
    height: auto;
    display: flex;
  }
  nav .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  nav .links a:hover {
    padding: 0;
    background: transparent;
  }
  nav .social-icons {
    display: flex;
  }
}
